<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- 该节点一定要写在第一位 -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <!--
        //访问本地电脑上的消息队列时Path的格式可以有如下几种：
        //MessageQueue mq = new MessageQueue();
        //mq.Path = @".\Private$\test";
        //mq.Path = @"sf00902395d34\Private$\test";  //sf00902395d34是主机名
        //mq.Path = @"FormatName:DIRECT=OS:sf00902395d34\Private$\test";
        //mq.Path = @"FormatName:DIRECT=OS:localhost\Private$\test";
        //访问远程电脑上的消息队列时Path的格式
        //mq.Path = @"FormatName:DIRECT=OS:server\Private$\test";
            
        如果 是多个队列 请用 | 分割        
        -->
    <add key="paths" value=".\private$\SCS_EMAIL_LIST" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <log4net debug="false">
    <!--根据logger获取ILog对象-->
    <logger name="logger">
      <!--control log level: ALL|DEBUG|INFO|WARN|ERROR|FATAL|OFF-->
      <!--如果没有定义LEVEL的值，则缺省为DEBUG-->
      <level value="ALL" />
      <appender-ref ref="LogSmtpAppender" />
      <appender-ref ref="LogFileAppender" />
    </logger>
    <!--定义输出到文件中-->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="C:\Log\" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <Encoding value="UTF-8" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Composite" />
      <param name="DatePattern" value="yyyy-MM-dd/yyyy-MM-dd-HH&quot;.log&quot;" />
      <param name="maximumFileSize" value="1024KB" />
      <!--<layout type="Log4Ext.ReflectionLayout,Log4Ext">
                <conversionPattern value="[Start]%n%n Operation Type : %property{OperateType} %n System Type    : %property{SystemType} %n DateTime       : %date %n Thread ID      : [%thread] %n Level          : %level %n User ID        : %property{UserName} %n Browser        : %property{Browser} %n Location       : %C %L %n Message        : %m %n Exception      : %exception %n%n[End]%n%n%n%n" />
            </layout>-->
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <conversionPattern value="%-----------------------Start--------------------------%nDate : %date{yyyy-MM-dd HH:mm:ss}%nThread ID : [%thread]%nLevel : %-5level%nLogger : %logger%nLocation : %C %L%nMessage : %message%n%exception-----------------------End--------------------------%n%n" />
      </layout>
    </appender>
    <!--定义邮件发送-->
    <appender name="LogSmtpAppender" type="log4net.Appender.SmtpAppender,log4net">
      <authentication value="Basic" />
      <to value="dc0106@126.com" />
      <from value="bcstracker@126.com" />
      <username value="bcstracker@126.com" />
      <password value="bcsint13a5" />
      <subject value="Email Queue 应用错误日志消息" />
      <smtpHost value="smtp.126.com" />
      <bufferSize value="2048" />
      <!--超长部分是否丢弃-->
      <lossy value="true" />
      <!--日志级别 大于 WARN 的才发邮件-->
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR" />
      </evaluator>
      <!--定义邮件的格式-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
      </layout>
    </appender>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>